.list{
    padding-left: 200px;
}
.list:after{
    content:'';
    height: 0;
    display: block;
    clear: both;
}
.list li{
    float: left;
    line-height: 50px;
    height: 50px;
}
.list li a{
    display: inline-block;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
}