.newapp{
  padding:20px;
  background: rgb(180, 209, 243);
}
.newapp h2{
  text-align: center;
}
li{
  list-style: none;
}
.comp{
  color: red;
  font-weight: bold;
  text-decoration: underline;
  font-size: 16px;
}
